* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: white;
  /* outline: 1px solid red; */
}

.banner-container {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  padding: 25px 0 90px 0;
}

.max-width {
  width: 1000px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

img {
  width: 450px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

header {
  width: 450px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 7px;
}

.header-p {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 25px;
  border-radius: 6px;
  margin: 15px 0;
  width: 120px;
}


/* Main Feature section */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
  gap: 40px;
}

.features-container {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

h2 {
  font-size: 36px;
  font-weight: 900;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature img {
  border-radius: 100%;
  width: 200px;
  margin-bottom: 15px;
}

.feature-p, h2 {
  color: #1F2937;
}

.feature-p {
  width: 260px;
  text-align: center;
}